html {
    box-sizing: border-box;
}

*,*::before, *:after {
    box-sizing: inherit;
}

.game {
    position: relative;
    border: solid 1px black;
    min-height: 100vh;
}

.bug {
    position: absolute;    
}

.removing {
    animation-duration: 2s;
    animation-name: rotate;
    animation-iteration-count: 1;
}

.no-event {
    pointer-events: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg); 
  }

  to {
      transform: rotate(360deg);
  }
}