html {
    box-sizing: border-box;
}

*,*::before, *:after {
    box-sizing: inherit;
}

.game {
    position: relative;
    border: solid 1px black;
    min-height: 100vh;
}

.bug {
    position: absolute;
}

.no-event {
    pointer-events: none;
}